


.pdd_0{
    padding: 0
}
.item_imagee{
    width: 100%;
    height: 165px;
}
.pdd_1{
    padding: 1% 0;
}
.ite_Name{
        font-size: 18px;
    /*font-weight: 600;*/
    padding: 10px 0 0 0px;
    font-weight: 700;
}
.item_price{
            font-size: 17px;
    font-weight: 700;
    padding: 10px 0px 0 0;
    text-align: right;
}
.veg_view_like{
        padding: 6px 0
}
.item_border{
            border: 1px solid #e8e8e8;
    padding: 5%;
}
.veg_icon{
        width: auto;
    height: 15px;
}
.tr_Right{
        text-align: right;
    padding-right: 0px;
}
.txt_right{
    text-align: right
}
.food_namwe{
            color: #a0a0a0;
    font-size: 14px;
    font-weight: 600;
}
.pad_totl{
        padding: 1% 0;
}
.search_box{
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #f0f0f0;
}
.seacrh_icon{
        position: relative;
    right: 24px;
    color: #ccc;
}
.pad_right_search{
    padding: 0;
    text-align: right
}
.gap_itom{
    padding: 0 8px;
}
.star_rating{
        border: 1px solid #6fbf32;
    width: 35%;
    border-radius: 5px;
    text-align: center;
    background: #6fbf32;
    color: #fff;
    margin-top: 9px;
    height: 23px;
    padding: 0px;
    font-size: 14px;
}
.padd_07{
    padding: 0 0 10px 0;
}
.gap_item{
    padding: 0;
    /*margin: 1%;*/
}
.add_box{
        text-align: center;
    margin-top: 8px;
    font-size: 14px;
}
.decrease_btn{
            float: left;
    border: 1px solid;
    border-radius: 3PX;
    width: 30%;
    height: 27px;
    color: #c3c3c3;
    cursor: pointer;
}
.increment_btn{
            float: right;
    border: 1px solid;
    width: 24%;
    cursor: pointer;
    width: 30%;
    height: 27px;
    color: #c3c3c3;
    cursor: pointer;
    border-radius: 3px;
}
.add_butn{
            background: #ff6633;
    border: 1px solid #ff6633;
    color: #fff;
    padding: 1px 20px;
    border-radius: 4px;
    height: 30px;
    margin-top: 6px;
    font-size: 14px;
}
.back_color{
        background: #fbfbfb;
}
.backgrnd_color{
    background-color: #fff
}
.padd_tp_55{
        padding: 55px 6% 0 6%;
}
.pdd_2{
    padding: 2%;
}
.order_itom{
        padding: 5%;
    font-size: 15px;
    background: #ff6633;
    text-align: center;
    color: #fff;
}
.order_outer{
       padding: 4% 12px;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    background-color: #fff;
}
.checkout_buttonn{
    background: #ff6633;
    border: transparent;
    padding: 7px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.check_div{
        padding: 0;
    text-align: center;
}
.pad_right{
        padding: 0;
    text-align: right;
}
.pad_0{
    padding: 0;
}
.set_addres{
        font-size: 14px;
    padding: 6% 0;
}
.payment_box{
        padding: 9% 0;
    font-size: 14px;
}
#right_panel{
        width: 20%;
    height: 100%;
    position: fixed;
    /* outline: 1px solid; */
    /* background: red; */
    right: 10%;
}
#left_panel{
    /*width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    background: blue;*/
}
.normal_fontt{
    font-size: 15px;
    padding: 0 0 10px 0;
    color: #656565;
    font-weight: 500;
}
.clrr{
  color: #262626;
  text-decoration: none;
}
.bred_name_sty{
        padding: 0 0 15px 0;
}
.bydefault_size{
    font-size: 14px;
}
.sort_img{
    width: 18px;
}
.iteom_name{
        padding: 0;
    font-size: 14px;
}
.itome_price{
        padding: 0;
    text-align: right;
}




@media (min-width: 320px) and (max-width: 480px){
    .normal_foont{
            font-size: 15px;
    }
    .sort_img{
            width: 20px;
    }
    .txt_algn_center{
        text-align: left
    }
    .txt_algn_right{
        text-align: right
    }
    .pad_10{
            padding: 10px;
    }
    .itom_imgg{
        width: 100%;
    height: 195px;
    }
    .total_backgrnd{
            background: #f5f5f5;
    }
    .itomBack_color{
        background: #fff;
    }
    .sorting_vegg{
            padding: 10px 0;
    }
    .sorting_vegg_itom{
            margin: 10px 0;
    }
    .padd_tp_55 {
    padding: 83px 6% 0 6%;
}
.back_option{
        z-index: 9999;
    margin-top: 61px;
    /* text-align: center; */
    /* right: 50%; */
    left: 44%;
}
.back_button{
        position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    border: transparent;
    color: #ff6633;
    font-size: 34px;
    outline: none
}
}