.main_header{
  /*border:1px solid transparent;*/
    height: 60px;

}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.backColor{
  background-color: #fff;
}
.footer_color{
  color: #fff;
}
.img_fitang{
    width: auto;
    height: 60px;
    padding: 10px 0;
}
.title_name{
    padding: 20px 5px;
        font-size: 15px;
        font-weight: 700;
}
.normal_font{
  font-size: 14px;
}
.pad_22{
      padding: 2px 0;
}
.img-width{
      width: 23px;
}
.footer-icon{
      padding: 10px 0;
}
.primaryFont{
      font-size: 16px;
}
.ta-r{
  text-align: right;
}
.ta-l{
  text-align: left;
}
.ta_center{
    text-align: center;
}
.footer_header_menu{
      font-size: 16px;
    font-weight: 600;
}
.cart_icon{
  width: 16px;
    height: 16px;
    margin-right: 3px;
}
.cur_hover{
  cursor: pointer;
}
.clrr{
  color: #262626;
}
.login_border{
      border-right: 1px solid #9e9e9e
}
.pd-f{
  padding: 20px 24px;
  font-size: 15px;
  font-weight: 700;
}
.footer_gap{
        margin: 0 15%;
}
.login_titil{
      color: #141414;
    font-size: 15px;
}
.creat_accnt{
      color: #141414;
    text-align: center;
    font-size: 15px;
}
.cllr{
  color: #ff6633;
  cursor: pointer;
}
.under{
          display: none;
    position: absolute;
    top: 97%;
    right: 0%;
    border: 1px solid transparent;
    background: rgba(0,0,0,0.1);
    width: 17vw;
    padding: 10%;
    z-index: 10
}
.signin{
  cursor: pointer;
  
}
.login_email{
      width: 96%;
    border-bottom: 1px solid;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    color: #141414;
}
.label_name{
  font-size: 15px;
  font-weight: 600;
  color: #141414;
}
.submit{
      color: #fff;
    background: #ff6633;
    border: transparent;
    padding: 5px 23px;
    font-size: 14px;
    border-radius: 4px;
}
.outer_submit{
      text-align: center;
    padding: 8% 0 2% 0;
}

/*.signin:hover {
  background-color: rgba(0,0,0,1);
}*/
.signin:hover .under{
  display: block;
  cursor: pointer;
  background-color: rgba(0,0,0,1);
}
.hyd-selet{
  background-color: transparent;
  border:1px solid transparent;
}
.pd-0{
  padding: 0;
}
.bb{
  border-bottom: 1px solid #eee;
}
.hyd-txt{
  border:1px solid transparent;
}
.pl-4{
      padding-left: 4%;
}
.user_img{
  width: 16px;
    height: 16px;
    position: relative;
    bottom: 2px;
}
.user_img_circle{
  border: 1px solid transparent;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    padding: 4%;
    margin-left: 6%;
}
.tr-center{
  text-align: center;
}
.pd-5{
  /*padding-left: 5%;*/
}
.human_img{
      position: relative;
    bottom: 30px;
    left: 92px;
    width: auto;
    height: 400px;
}
.content1{
  border:1px solid transparent;
}
.content1_title{
      font-size: 30px;
    font-weight: 500;
    font-family: lado;
    color: #7a7a7a;
    padding-top:10%;
}
.outer{
      border:1px solid transparent;
      height: 340px;
      box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
      margin-top: 4%;
}
.inner{
      border:1px solid transparent;
    margin: 2%;
    height: 85%;
}
.inner_row1{
  padding-bottom: 2%;
    padding-top: 2%;
    border:1px solid transparent;
}
.inner_row2{
  padding-bottom: 2%;
    border:1px solid transparent;
}
.img_common_height{
      height: 84px;
    border: 1px solid transparent;
}
.img_tit{
      font-size: 14px;
    font-weight: 600;
    color: #7a7a7a;
    font-family: sans-serif,opensans;
}
.dilog{
      width: auto;
    height: 100px;
}
.mrt-2{
  margin-top: 2%;
}
.price_btn{
      padding: 5%;
    width: 98%;
    font-size: 16px;
    color: #db0041;
    font-weight: 600;
    background: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.pd-1{
  padding: 1%
}
.cart_icon{
      margin-left: 6%;
    width: 20px;
    height: 20px;
}
.br-right{
  border-right: 1px solid;
}
.dilog_title{
    position: absolute;
    left: 55%;
    top: 6%;
    font-family: cursive;
    font-size: 12px;
}
.state{
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
    margin-top: -7px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
     box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); 
     /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.pd-2{
    padding-top: 2%;
}
.tr-center{
    text-align: center;
}
.mat-select-panel{
            transform-origin: 50% 22.5px 0px;
    font-size: 15px;
    opacity: 1;
    /* min-width: calc(100% + 32px); */
    transform: scaleY(1);
    width: 9vw;
    height: 43vh;
    position: absolute;
    right: 356px;
    border: 1px solid transparent;
    background: rgba(0,0,0,0.8);
    color: #fff;
    min-width: 0%;
    padding: 10px;
    overflow: none;
}
.onLoginHover:hover .logout{
  display: block;
}
.logout{
  display: none;
    border: 1px solid transparent;
    position: absolute;
    background: #fdfcfc;
    color: #141414;
    padding: 7% 10%;
    z-index: 999;
    text-align: left;
      width: 100%;
}
.padd_5{
  padding: 5px 0
}
.main_bar_boxshdow{
  box-shadow: 5px 0px 32px -11px rgba(0,0,0,0.4);
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.state_clr{
        background: transparent;
    border: 1px solid transparent;
}
.option_clr{
    background-color: #aaa;
}
.pd-bar{
        padding-left: 2%;
    padding-right: 0;
    padding-top: 1%;

}
.barClor{
  color: #ff6633;
}
.barCode{
    background: transparent;
    border: 1px solid transparent;
    font-size: 20px;
    color: #fff;
}
.mobileHeaderHeight{
    height: 54px;
    z-index: 9999;
}
.brandLogo{
    height: 38px;
    width: 37%;
    margin: 1% 0 1% 15%;
    padding-top: 0;
}
.cart_icon_font{
      font-size: 20px;
}
.shortStates{
    padding: 17px 0px;
    color: #fff;
}
.cartIcon{
        padding: 15px 5px;
    color: #fff;
}
.full_width{
    width: 100%;
}
.sideNav{
    width: 80%;
}
.main_page-header-web{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.header-row1{
  background-color:#db0041;
}
.header-row1-helpline{
  text-align:right;
  color:white;
  font-size:17px;
  font-family:monospace;
}
.header-row1-vendor{
  padding: 0px;
  font-size: 15px;
  text-align:left;
  color:white;
  font-family:sans-serif;
}
.header-row2{
  background-color:#db0041;
  padding: 0px;
  z-index: 4;
  set-class-when-at-top:fix-to-top
}
.hyd-selet{
  background-color:#db0041;
  border:1px solid #db0041;
  color:white;
}
.footerBackground{
        background: #141414;
            padding: 1%;
}
.footerTitle{
    margin-bottom: 2%;
    color: #fff;
}
.marg_bottom{
    margin-bottom: 2%;
}
.data-width-web{
    width: 75%;
}
.wulink{
    color: #fff;
    text-decoration: none;
}
.pdd-2{
        padding-bottom: 2%;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
     min-width: 0px; 
    line-height: 36px;
     padding: 0 7px; 
    border-radius: 2px;
}







@media (min-width: 481px) and (max-width: 768px){
    .pl-4{
      padding-left: 8%;
}
.content1_title {
    font-size: 22px;
    font-weight: 500;
    font-family: lado;
    color: #7a7a7a;
}
.dilog {
    width: auto;
    height: 60px;
}
.human_img {
    position: relative;
    bottom: 19px;
    left: 0px;
    width: auto;
    height: 310px;
}
.img_tit {
    font-size: 12px;
    font-weight: 600;
    color: #7a7a7a;
    font-family: sans-serif,opensans;
    
}
.price_btn {
    padding: 8%;
    width: 100%;
    font-size: 10px;
    color: #db0041;
    font-weight: 600;
    background: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.dilog_title {
    position: absolute;
    left: 54%;
    top: 4%;
    font-family: cursive;
    font-size: 9px;
}
.state_size{
        padding: 20px 0px;
    font-size: 14px;
    text-align: left;
}
}


@media (min-width: 769px) and (max-width: 1024px){
  .pl-4{
      padding-left: 8%;
}
.human_img{
    position: relative;
    bottom: 16px;
    left: 37px;
    width: auto;
    height: 315px;
}
.dilog {
    width: auto;
    height: 75px;
}
.price_btn {
    padding: 8%;
    width: 98%;
    font-size: 13px;
    color: #db0041;
    font-weight: 600;
    background: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.dilog_title{
    position: absolute;
    left: 54%;
    top: 5%;
    font-family: cursive;
    font-size: 9px;
}
.state_size{
        padding: 20px 0px;
    font-size: 14px;
    text-align: left;
}
}


@media (min-width: 1025px) and (max-width: 1500px){
    .dilog_title {
    position: absolute;
    left: 55%;
    top: 5%;
    font-family: cursive;
    font-size: 12px;
  }
  .content1_title{
      font-size: 30px;
    font-weight: 500;
    font-family: lado;
    color: #7a7a7a;
    padding-top:10%;
  }
}


@media (min-width: 1501px) and (max-width: 3000px){
  .human_img {
    position: relative;
    bottom: 30px;
    left: 276px;
    width: auto;
    height: 503px;
}
.content1_title{
      font-size: 30px;
    font-weight: 500;
    font-family: lado;
    color: #7a7a7a;
    padding-top:10%;
}
.dilog {
    width: auto;
    height: 152px;
}
.dilog_title {
        position: absolute;
    left: 65%;
    top: 5%;
    font-family: cursive;
    font-size: 17px;
  }
}