
.login_btnn{
  text-align: right;
    outline: none!important;
    background: transparent;
    border: transparent;
}
h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
      z-index: 999;
}
.popup_inner {
  position: absolute;
      left: 14%;
    right: 14%;
  top: 23%;
    bottom: 19%;
  margin: auto;
  background: white;
}
.close_bton{
      font-size: 20px;
    padding: 0 20px;
    cursor: pointer
}
.log_box{
      text-align: left;
    padding: 1% 5%;
}
.log_title{
  font-size: 16px;
    padding: 5px 0;
    font-weight: 600;
    color: #ccc;
}
.log_input{
      border-bottom: 1px solid #373737;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    width: 100%;
        padding: 3% 10px;
}
.submit_btom{
  padding: 6px 12%;
    background: #ff6633;
    border: transparent;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.submit_div{
  text-align: center;
      padding: 20% 0 2%;
}
.or_div{
  text-align: center;
    color: #aeaeae;
}
.creat_account{
      text-align: center;
    padding: 2% 0;
    color: #ff6633;
    cursor: pointer;
}
.padd_0{
  padding: 0!important
}
.signup_title{
      text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.input_divv{
      text-align: left;
    padding: 10px 0;
    margin: 0 4%;
    width: 92%!important;
}
.input_boxx{
  width: 100%;
    padding: 1% 10px;
}
.sign_up{
      width: 100%;
    background: #cb1217;
    color: #fff;
    padding: 7px;
    border: transparent;
    border-radius: 3px;
}
.lob_box{
  background: #0d5891;
        height: 384px;
}
.loog_inn{
      color: #fff;
    text-align: center;
    padding: 3%;
    font-size: 18px;
}
.outer_box{
      padding: 19px 0;
}
.close_img{
      width: 20px;
    height: 20px;
    position: absolute;
    z-index: 99;
    right: -5px;
    top: -4px;
    cursor: pointer;
}