.wellcome-txt{
  color:#db1c41;
  margin-left:5px;
}
.btn-text{
  text-align: center;
}
.wel-img{
  width: 100%;
  height: 73%;
  padding-top: 4%;
  margin-top: 4%;


}
.normal_font{
  font-size: 14px;
}
.text_welcome{
      position: relative;
    top: 39%;
    left: 10%;
    font-size: 30px;
    color: #ff6633;
    font-weight: 700;
}
 .slider_image{
  overflow: visible!important; 
    display: block;
    position: relative;
}
.welcome-main{

  height: 500px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
  margin-left: 2%;
  margin-top: 3%;
  text-align: center;
}
.btn-cl{
  width: 16%;
  background: #DB0041;
  font-size: 16px;
  outline:none!important;
  margin-top: 3%;
  /*margin-bottom: 3%;*/
  color: #ffffff;
  padding: 10px;
}
h4{
  text-align: center;
  font-size: 24px;
  padding-top: 1%;
  font-weight: 700;
}
.welcome_slider{
      height: 480px;
    background-size: 100% 100%;

}
.home_silder{
      height: 480px;
      margin-top: 57px;
}

.onhover{
  height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    
   /* background: rgba(32,32,32,0.6);*/
}
.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    padding: 15px 20px;
    transition: 0.1s;
    background: #fff;
}
.onhover:hover .effect{
  top: 264px;
  background: #fff;
 }

 /*.onhover{
  overflow: hidden;
  position: relative;
  background: rgba(32,32,32,0.6);
 }
 .effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 264px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
 }
 .onhover:hover .effect{
  top: 0;
 }*/
 .ful_width{
  width: 100%
 }

.inner_category{
      padding: 0;
        margin: 4% 0;
    width: 85%;
}
.category_title{
  font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding: 2% 0;
    color: #ff6633

}
.pad_1{
      padding: 1%;
}
.pad_0{
  padding: 0
}
.mar_20{
      margin: 27% 0 0 0;
      padding: 0 7%;
}
.item__name{
      color: #fff;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -19px;
    right: -107px;
}
.flr_right{
  float: right
}


.pad_20{
      padding: 0 18%;
}
.best_facility{
  padding: 4% 0 4% 0;
    background: #f5f5f5;
}
.for_app{
  padding: 4% 0 4% 0;
}
.best_titt{
      font-size: 16px;
    font-weight: 600;
}
.anglr_right{
      font-size: 16px;
    color: #ff6633;
        font-weight: 600;
}
.pad_5{
      padding: 5px 0;
}
.fn_25{
      font-size: 25px;
}
.middl_appp{
  font-size: 16px;
    font-weight: 100;
    color: #a7a7a7;
    padding: 20px 0;
}
.google_icon{
      width: auto;
    height: 50px;
}
.app_box{
      padding: 10% 0;
}
.app_mobie{
      width: auto;
    height: 366px;
}
.pad_left{
  padding-left: 13%;
}

@media(min-width: 320px) and (max-width: 480px){
  .welcome_slider {
        height: 180px;
    background-size: 100% 100%;
}
.text_welcome{
    position: relative;
    top: 39%;
    left: 10%;
    font-size: 14px;
    color: #ff6633;
    font-weight: 700;
}
.home_silder {
    height: 200px;
    margin-top: 57px;
}
.side_arrow{
      width: 30px!important;
    height: 30px!important;
    border-radius: 22px!important;
    font-size: 44px!important;
    color: black!important;
    background-color: white!important;
    display: none!important;
    text-align: center!important;
    line-height: 17px!important;
}
a.circle{
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    display: none
}

.itom_box  {
    border: 1px solid transparent;
   /* background: #fff;*/
    padding: 0;
    border-radius: 4px;
}
.itom_list{
        padding: 3%;
    
}
.full_widthj {
    width: 100%;
        height: 120px;
    border-radius: 3px 3px 0 0;
}
.itom_name {
    font-size: 10px;
    /* padding-left: 3%; */
    padding: 3%;
    background: #fff;
}
.flo_righ{
        float: right;
}
.points_benefit{
  padding-left: 5%;
    padding-right: 7%;
    padding-bottom: 1%;
}
.point_table{
  font-size: 14px;
}
.benefit_title{
      font-size: 16px;
    font-weight: 700;
}

}



@media (min-width: 481px) and (max-width: 768px){
  /*.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 264px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
 }*/
 .onhover{
  height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    
    /*background: rgba(32,32,32,0.6);*/
}
.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
}
.onhover:hover .effect{
  top: 264px;
  background: #fff;
 }
 .item__name {
        color: #fff;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 0px;
    right: -12px;
}
}



@media (min-width: 769px) and (max-width: 1024px){
  /*.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 264px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
 }*/
 .onhover{
  height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    
    /*background: rgba(32,32,32,0.6);*/
}
.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
}
.onhover:hover .effect{
  top: 264px;
  background: #fff;
 }
 .item__name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 0px;
    right: -21px;
}
}

@media (min-width: 1025px) and (max-width: 1500px){
  /*.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
        top: 277px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
 }*/
 .onhover{
  height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    
    /*background: rgba(32,32,32,0.6);*/
}
.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
}
.onhover:hover .effect{
  top: 264px;
  background: #fff;
 }
 .item__name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 0px;
           right: -38px;
}
}



@media (min-width: 1501px) and (max-width: 3000px){
  /*.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 320px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
 }*/
 .onhover{
  height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    /*padding: 15px 20px;*/
    
    /*background: rgba(32,32,32,0.6);*/
}
.effect{
  height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    padding: 15px 20px;
    transition: 0.1s;
    background: rgba(32,32,32,0.6);
}
.onhover:hover .effect{
  top: 492px;
  background: #fff;
 }
 .item__name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 0px;
    right: -65px;
}
}


