.App {
  /*text-align: center;*/
}
.App2 {
  text-align: center;
}
.Padd_0{
      padding: 0!important;
}
.font{
	font-size: 15px
}
.padd_1{
	padding: 1%;
	border: 1px solid transparent;
    box-shadow: 0px -2px 9px 2px rgba(0,0,0,0.2);
}
.full_widthh{
	width: 50%;
	margin: auto;
}
.padd_20_15{
	    padding: 20px 15px;
}
.login_box{
	text-align: right;
    border-right: 1px solid #ccc;
}
.txt_right{
	text-align: right;
}
.txt_left{
	text-align: left;
}
.text{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
